.main-chat
  .main-chat__group-info
    .main-chat__group-info--leftbox
      .current-group
        = @group.name
        %ul.member-list 
          Member : 
          %li.member-first
            - @group.users.each do |user|
              = user.name
    .main-chat__group-info--edit-btn
      = link_to 'Edit', edit_group_path(@group), class: "EditLink"
  .main-chat__message-list
    = render @messages
  .main-chat__message-form
    .create-box
      = form_for [@group, @message] do |f|
        .create-box__contents
          = f.text_field :body, class: 'create-box__contents--message', placeholder: 'type a message'
          = f.label :image, class: 'create-box__contents--image' do
            %p.file-choice
              = icon('fas', 'image', class: "file-choice__icon")
              %input
                = f.file_field :image
        = f.submit 'Send', class: 'send-btn'