.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "top-items__icons--btn" do
          = icon('far', 'edit', class: 'top-icon')
        = link_to edit_user_path(current_user), class: "top-items__icons--btn" do
          = icon('fa', 'cog', class: 'top-icon')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list--group-content
        = link_to group_messages_path(group) do
          .group-name
            = group.name
          .latest-message
            = group.show_last_message